<div style="height:330px;background:#ffffff;">
    <div style="margin:9px 9px;border:1px solid green;width:400px;float:left;">
        <form method="post" action="./users/login">
            <table class="table">
                <tr>
                    <td colspan="2" align="center">µÇÂ¼</td>
                </tr>
                <tbody>
                    <tr>
                        <td align="right">email:</td>
                        <td><input type="text" name="email" class="form-control" placeholder="ÎÄ±¾ÊäÈë"/></td>
                    </tr>
                    <tr>
                        <td align="right">ÃÜÂë:</td>
                        <td><input type="password" name="pwd" class="form-control" placeholder="ÃÜÂë"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center" valign="middle">
                            <input type="submit" value="µÇÂ¼" class="btn btn-success"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div style="margin:9px 9px;border:1px solid green;width:400px;float:left;">
        <form method="post" action="./users/zhuce">
            <table class="table">
                <tr>
                    <td colspan="2" align="center">×¢²á</td>
                </tr>
                <tbody>
                    <tr>
                        <td align="right">email:</td>
                        <td><input type="text" name="email" class="form-control" placeholder="ÎÄ±¾ÊäÈë"/></td>
                    </tr>
                    <tr>
                        <td align="right">ÃÜÂë:</td>
                        <td><input type="password" name="pwd" class="form-control" placeholder="ÃÜÂë"/></td>
                    </tr>
                    <tr>
                        <td align="right">ÖØ¸´:</td>
                        <td><input type="password" name="repwd" class="form-control" placeholder="ÃÜÂë"/></td>
                    </tr>
                    <tr>
                        <td align="right">êÇ³Æ:</td>
                        <td><input type="text" name="nicheng" class="form-control" placeholder="êÇ³Æ"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"  valign="middle">
                            <input type="submit" value="×¢²á" class="btn btn-success"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>   